h2 {
    text-align: center;
}

p {
    width: 50%;
    border: 2px solid black;

    
    text-align: center;
    margin:auto;
}

.section{
    float:left;
    width: 50%;
    box-sizing:border-box;
    padding: 5px;
    border: 2px solid black;
}
