h2 {
    text-align: center;
}

p {
    border: 2px solid black;
    width: 30%;
    text-align: center;
    margin: auto;
}

.section{
    float:left;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid black;
}
