{% include "tabs.html" %}
   {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styler.css' %}"/>
</head>
<body>
    
    <header>
        <h1>About Us</h1>
        
        <img src="{% static 'greenBack.webp' %}" alt="Image1" class="top-right" >
        <img src="{% static 'certificate.webp' %}" alt="Image2" class="top-left" >
    </header>
    
    
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zpKWZ50StEkZ0Ixs47s7zQHaFI%26pid%3DApi&f=1&ipt=ab50acf99bbb183e9010b352c8e7da06cfcf3354d98e5ae77ec175d8242f9cbb&ipo=images" class="fighter" alt="fighter plane">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.ze2tSMDg1MuZ16LBOO5FFAAAAA%26pid%3DApi&f=1&ipt=e2bf98efc9f4ed382de1642ca349ef8cb5b1858482a66864c93967022a89ef5c&ipo=images" class="drone" alt="drone">
</body>
</html>