{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'work.css' %}"/>
</head>
<body>

    <h2>Customers</h2> <br/>

    {% for item in all %}

        <p>{{ item.firstName }} {{ item.lastName }} <br/> 
            Email: {{item.email}} <br/>
            Date: {{item.today}}
        </p>

    {% endfor %}
    
</body>
</html>