{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'work.css' %}"/>
</head>
<body>

    <div class="section">
        <h2>Customers</h2> <br/>

        {% for item in all_P %}
    
            <p>{{ item.firstName }} {{ item.lastName }} <br/> 
                Email: {{item.email}} <br/>
                Date: {{item.today}}
            </p>
    
        {% endfor %}
    </div>

    <div class="section">
        <h2>New Hires</h2> <br/>
        <hr>

    {% for item in all_H %}

        <p>{{ item.firstName }} {{ item.lastName }} <br/> 
            Email: {{item.email}} <br/>
            Phone: {{item.phone}} <br/>
            Resume: {{item.file}} <br/>
            Date: {{item.today}}
        </p>
        <form action="{% url 'workDownload'%}" method="post">
            {% csrf_token %}
            <input type="hidden" name="whichFile" value="{{item.file}}">
            <button type="submit">Download Resume</button>
        </form>
        <hr>

    {% endfor %}
    </div>
    
    
</body>
</html>