{% include "tabs.html" %}
   {% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
   <link rel="stylesheet" type="text/css" href="{% static 'styler.css' %}"/>
    
</head>
<body>
    
    <header>
        <h1>Make An Appointment</h1>
        <img src="{% static 'greenBack.webp' %}" alt="Image1" class="top-right" >
        <img src="{% static 'certificate.webp' %}" alt="Image2" class="top-left" >
    </header>
    
    
    

    

    <div id="calendar"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://fullcalendar.io/js/fullcalendar-3.1.0/lib/moment.min.js"></script>
    <script src="https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.js"></script>
    
    <script>
        // Assume you have initialized FullCalendar on a div with id 'calendar'

    
var calendar = $('#calendar').fullCalendar({ 
    defaultView: 'month'
    
});

$('#calendar').fullCalendar( 'option', 'aspectRatio', 1);

$('#calendar').fullCalendar( {});



   
</script>
</body>


</html>