{% include "tabs.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
   <link rel="stylesheet" type="text/css" href="{% static 'styler.css' %}" />
    <style>
        
    </style>
</head>
<body>

    
    
    <header>
        <img src="{% static 'greenBack.webp' %}" alt="Image1" class="top-right" >
        <img src="{% static 'certificate.webp' %}" alt="Image2" class="top-left" >
        <img src="{% static 'RootedInTech.webp' %}" alt="Image3" class="center">
    </header>
    
    <p>A Minority Woman Veteran Owned Small Business</p>
</body>
</html>