{% include "tabs.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Oppertunities</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styler.css' %}" />
</head>
<body>
  <header>
    <h1>Job Oppertunities</h1>
 </header>
    
 <form action="{% url 'sender' %}" method="post">
  {% csrf_token %}
  <select name="choice">
      <option value="Application_Developer.pdf">Application Developer</option>
      <option value="SoftwareReverseEngineer.pdf">Software Reverse Engineer</option>
      
  </select>
  
  <button type="submit">Download PDF</button>
</form>
    
    
    
</body>
</html>