{% include "tabs.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styler.css' %}"/>
    <title>Services</title>
</head>
<body>
    
    <header>
        <h1>Services</h1>
        
    </header>
    
   <!--

    <img src="{% static 'oakLeaf.png'%}" alt="leafs" class="">
   --> 
    
    
        
    <div class="section">
        <div class="serviceImg">
            <img src="{% static 'codeTV.jpg' %}">
            <p>RF and DSP Signal Intelligence Solutions</p>

        </div>
        <div class="serviceImg" >
            <img src="{% static 'womanPresenting.jpg' %}" >
            <p>Management Support for Programs</p>
        </div>
        
    </div>
</body>
</html>